// ** FONTS

$lexend: 'Lexend Deca', sans-serif;

$bigShoulders: 'Big Shoulders Display', cursive;


// ** PRIMARY COLORS

$orange: hsl(31, 77%, 52%);

$cyan: hsl(184, 100%, 22%);

$darkCyan: hsl(179, 100%, 13%);


// ** NEUTRAL COLORS

$transparentWhite: hsla(0, 0%, 100%, 0.75);
$lightGray: hsl(0, 0%, 95%);


// ** SCREEN SIZES

$desktop: 800px;